{% load static %}
<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{% url 'app:hometemp' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'app:aboutus' %}">AboutUs</a>
    </li>
    
    
      {% if user.is_authenticated %}
      <li class="nav-item">
      <a class="nav-link" href="{% url 'app:logout' %}">Logout</a>
    </li>
      {% else %}
      <li class="nav-item">
      <a class="nav-link" href="{% url 'app:register' %}">Register</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="{% url 'app:login' %}">Login</a>
    </li> 
      {% endif %}
      
      
    
    <!-- <li class="nav-item">
      <a class="nav-link disabled">Disabled</a>
    </li> -->
  </ul> -->